.container{
  max-width:1900px;
  border:1px solid red;
margin:6px auto 0 auto;
  padding:200px 50px;
  margin:10px;
line-height:6;
display:flex;

}
.sidebar-one{
flex:2;
border:1px solid red;
}
.sidebar-two{
flex:2;
border:1px solid blue;

}

